@font-face {
    font-family: 'Round';
    src: local('Round'), url('../fonts/VarelaRound-Regular.ttf');
}

.container-about {
    width: 100vw;
    top: 7vmin;
    bottom: 0;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 2vmin;
    background-color: rgb(255, 255, 255);
}
.map {
    background-image: url('../images/team-images/drone-map1-labelDemo.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top;
    float:none;
    position: absolute;
    background-color: rgb(126, 41, 41);
}
.map2{
    background-image: url('../images/team-images/map2.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
    width: 80%;
    height: 60%;
    float:none;
    position: absolute;
    background-color: rgb(126, 41, 41);
   bottom: 0;

   
}

 /* Split the screen in half */
 .split {
    height: 100%;
    width: 50%;
    position: relative;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  /* Control the left side */
  .left {
    left: 0;
   background-color: rgb(253, 253, 253);
  }
  
  /* Control the right side */
  .right {
    right: 0;
    background-color: rgb(255, 255, 255);
  }
  
  /* If you want the content centered horizontally and vertically */
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  /* Style the image inside the centered container, if needed */
  .centered img {
    width: 150px;
    border-radius: 50%;
  } 
/* Animations */