@font-face {
    font-family: 'Round';
    src: local('Round'), url('../fonts/VarelaRound-Regular.ttf');
}

.app-navigation {
    background-color: rgb(255, 214, 110);
    position: absolute;
    width: 100vw;
    height: 5vmin;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.route-link {
    background-color: rgba(255,255,255,1);
    padding: 1vmin;
    margin-left: 1vmin;
    border-radius: 0.5vmin;
    box-shadow: 0px 4px 4px 2px rgba(0,0,0,0.05);
    text-decoration: none;
    font-weight: bold;
    font-size: 1.5vmin;
    color: rgba(0, 0,0,0.75);
    transition: all 0.35s cubic-bezier(.75,-0.13,.27,1.33);
    width: 6vmin;
    text-align: center;
}

.route-link:hover {
    background-color: rgb(255, 166, 71);
    width: 8vmin;
    color: rgba(255,255,255,1);
}

.test-container {
    background-color: white;
    border-radius: 1vmin;
    padding: 1vmin;
    margin-top: 2vmin;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.container-add {
    background-color: rgba(0, 183, 225, 1);
    background-image: url('../images/svgs/icons/solid/plus.svg');
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: center center;
    filter: invert(1);
    width: 2.5vmin;
    aspect-ratio: 1;
    border-radius: 0.5vmin;
    margin-left: 1vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    vertical-align: middle;
    text-align: center;
    font-size: 2vmin;
    cursor: pointer;
    transition: all 0.15s linear;
}

.container-add:hover {
    background-color: rgb(61, 188, 216);
}

.font-round-large {
    font-family: Round;
    font-size: 4vmin;
    text-shadow: 0vmin 0.25vmin 0.3vmin rgba(0,0,0,0.2);
}

.font-round-medium {
    font-family: Round;
    font-size: 2.25vmin;
    color: rgba(0,0,0,0.7)
}

.unselectable {
    user-select: none;
}

.page-title {
    animation: title-animation 0.5s cubic-bezier(.75,-0.13,.27,1.33) forwards;
}

/* Animations */
@keyframes title-animation {
    0% {
        opacity: 0;
        transform: translateY(-12vmin);
    }
    50% {
        opacity: 25%;
    }
    100% {
        opacity: 100%;
        transform: translateY(0vmin);
    }
}