@font-face {
    font-family: 'Round';
    src: local('Round'), url('../fonts/VarelaRound-Regular.ttf');
}

.container-contact {
    width: 100vw;
    top: 7vmin;
    bottom: 0;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 2vmin;
    background-color: rgb(250, 250, 250);
}

.main-text-body {
    font-family: Round;
    font-size: 2vmin;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.25);
    margin-top: 2vmin;
}

.map {
    background-image: url('../images/team-images/drone-map1-labelDemo.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center bottom;
    width: 45%;
    height: 40%;
    float:right;
}
.map2{
    background-image: url('../images/team-images/map2.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center bottom;
    width: 45%;
    height: 40%;
    float:left;
   
}
/* Animations */
