@font-face {
    font-family: 'Round';
    src: local('Round'), url('../fonts/VarelaRound-Regular.ttf');
}

.container-login {
    box-shadow: inset 0px 4px 8px 0px rgba(0,0,0,0.15);
    width: 100vw;
    top: 5vmin;
    bottom: 0;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 2vmin;
    animation: login-background-animation 0.75s linear forwards;
}

/* Animations */
@keyframes login-background-animation {
    0% {
        background-color: rgb(255, 255, 255);
    }
    100% {
        background-color: rgb(223, 241, 255);
    }
}