@font-face {
    font-family: 'Round';
    src: local('Round'), url('../fonts/VarelaRound-Regular.ttf');
}

.container-reserve {
    width: 100vw;
    top: 7vmin;
    bottom: 0;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 2vmin;
    background-color: rgb(250, 250, 250);
}

.reservation-content-title {
    position: absolute;
    top: 0;
    left: calc(50% - 50vmin);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 2vmin;
    font-weight: bold;
    font-family: Round;
    color: rgba(0,0,0,0.5);
}

.court-next-button {
    background-color: rgba(0,0,0,0.0);
    height: 2vmin;
    width: 4vmin;
    border-radius: 10vmin;
    margin-left: 1vmin;
    background-image: url('../images/svgs/icons/solid/angle-right.svg');
    background-repeat: no-repeat;
    background-size: 25%;
    background-position: 1.65vmin center;
    cursor: pointer;
    opacity: 50%;
    transition: all 0.15s linear;
}

.court-next-button:hover {
    background-color: rgba(0,0,0,0.2);
}

.court-back-button {
    background-color: rgba(0,0,0,0.0);
    height: 2vmin;
    width: 4vmin;
    border-radius: 10vmin;
    margin-right: 1vmin;
    background-image: url('../images/svgs/icons/solid/angle-left.svg');
    background-repeat: no-repeat;
    background-size: 25%;
    background-position: 1.45vmin center;
    cursor: pointer;
    opacity: 50%;
    transition: all 0.15s linear;
}

.court-back-button:hover {
    background-color: rgba(0,0,0,0.2);
}

.reserve-form-container {
    width: 100vmin;
    height: 85vmin;
    margin-top: 1vmin;
    border-radius: 1vmin;
    background-color: rgba(255,255,255,1);
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.05);
    padding-right: 1vmin;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
}

.table-labels-container {
    background-color: rgba(255,0,0,0.0);
    width: calc(100% - 5vmin);
    height: 4vmin;
    margin-top: 1vmin;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.table-label {
    background-color: rgba(255,0,0,0.5);
    width: 14%;
    height: 3vmin;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: Round;
    font-size: 1.25vmin;
    font-weight: bold;
    color: white;
    border-radius: 0.5vmin;
}

.table-content-container {
    background-color: rgba(255,0,0,0.0);
    width: calc(100% - 5vmin);
    height: 75vmin;
    margin-top: 1vmin;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.table-hours-container {
    position: absolute;
    margin-left: -5vmin;
    background-color: rgba(22, 118, 62, 0.0);
    width: 5vmin;
    height: 75vmin;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.table-hours-item-container {
    background-color: rgba(0, 0, 0, 0.0);
    width: 5vmin;
    height: 1.75%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    font-family: Round;
    font-weight: bold;
    font-size: 0.99vmin;
}

.table-content-column {
    background-color: rgba(0,0,255,0.0);
    width: 14%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}


.table-column-item-container-open {
    background-color: rgba(0, 0, 0, 0.0);
    width: 100%;
    height: 7%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Round;
    font-size: 1.25vmin;
}

.table-column-item-container-open-2 {
    background-color: rgba(31, 158, 19, 0.1);
    width: 100%;
    height: 1.75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Round;
    font-size: 0.99vmin;
    box-sizing: border-box;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}

.table-column-item-container-open-2.darker {
    background-color: rgba(17, 90, 10, 0.14);
    width: 100%;
    height: 1.75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Round;
    font-size: 0.99vmin;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}

.table-column-item-container-open-2:hover {
    background-color: rgb(165, 216, 161, 1);
    z-index: 1000;
}

.table-column-item-container-open-2:hover > .table-hours-item-container-sub {
    opacity: 100%;
    left: calc(50% - 50.5vmin);
    color: rgb(0,0,0);
}

.table-column-item-container-open-2:hover > .table-hours-highlight-container {
    opacity: 100%;
}

.table-hours-highlight-container {
    background-color: rgb(165, 216, 161, 1);
    position: absolute;
    left: calc(50% - 45.5vmin);
    width: 95vmin;
    height: 0.25vmin;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Round;
    font-size: 0.99vmin;
    opacity: 0;
    pointer-events: none;
    /* border: 0.25vmin solid rgba(0,0,0,0.2); */
    border: 0.0vmin solid rgba(0,0,0,0.2);
    z-index: 0;
    transition: all 0.1s ease-in-out;
}

.table-break-highlight-container {
    background-color: rgba(0, 0, 0, 0.035);
    position: absolute;
    left: calc(50% + 2.5vmin);
    width: 95vmin;
    height: 1.3vmin;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Round;
    font-size: 0.99vmin;
    pointer-events: none;
    /* border: 0.25vmin solid rgba(0,0,0,0.2); */
    border: 0.0vmin solid rgba(0,0,0,0.0);
    z-index: 0;
    transition: all 0.1s ease-in-out;
}

.table-hours-item-container-sub {
    background-color: rgba(0, 0, 0, 0.0);
    position: absolute;
    left: calc(50% - 55.5vmin);
    width: 5vmin;
    height: 1vmin;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: Round;
    font-size: 0.99vmin;
    opacity: 0;
    pointer-events: none;
    transition: all 0.1s ease-in-out;
}

.table-column-item-container-open-sub {
    background-color: rgba(31, 158, 19, 0.1);
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Round;
    font-size: 1.25vmin;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}

.table-column-item-container-open-sub:hover {
    background-color: rgba(31, 158, 19, 0.4);
}

.table-column-item-container-open-sub:hover > .table-hours-item-container-sub {
    opacity: 100%;
    left: calc(50% - 50.5vmin);
    color: rgb(0,0,0);
}

.table-column-item-container-reserved {
    background-color: rgba(0, 51, 255, 0.4);
    width: 100%;
    height: 7%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Round;
    font-size: 1.25vmin;
}

.res-text {
    position: relative;
    top: 0.15vmin;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Round;
    font-size: 0.8vmin;
    font-weight: bold;
    z-index: 5000;
}

.res-text-button {
    background-color: rgba(0,0,0,0.0);
    padding-left: 1.5vmin;
    padding-right: 1.5vmin;
    border-radius: 0.5vmin;
    position: relative;
    top: -0.5vmin;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Round;
    font-size: 0.8vmin;
    font-weight: bold;
    height: 1.5vmin;
    z-index: 5000;
    cursor: pointer;
    transition: all 0.15s ease-in-out;
}

.res-text-button:hover {
    background-color: rgba(0,0,0,0.1);
}

.table-column-item-container-reserved-2 {
    background-color: rgba(138, 162, 255, 0.65);
    width: 100%;
    height: 1.75%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: Round;
    font-size: 0.79vmin;
    box-sizing: border-box;
    z-index: 100;
    transition: all 0.15s ease-in-out;
}

.table-column-item-container-reserved-2_user {
    background-color: rgb(138, 162, 255);
    width: 100%;
    height: 1.75%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: Round;
    font-size: 0.79vmin;
    box-sizing: border-box;
    z-index: 100;
    transition: all 0.15s ease-in-out;
}

.table-column-item-container-reserved-2_userevent {
    background-color: rgb(255, 200, 60);
    width: 100%;
    height: 1.75%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: Round;
    font-size: 0.79vmin;
    box-sizing: border-box;
    z-index: 100;
    transition: all 0.15s ease-in-out;
}

.table-column-item-container-reserved-2_event {
    background-color: rgba(255, 200, 60, 0.65);
    width: 100%;
    height: 1.75%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: Round;
    font-size: 0.79vmin;
    box-sizing: border-box;
    z-index: 100;
    transition: all 0.15s ease-in-out;
}

.table-column-item-container-closed {
    background-color: rgba(0, 0, 0, 0.15);
    width: 100%;
    height: 7%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Round;
    font-size: 1.25vmin;
}

.table-column-item-container-closed-2 {
    background-color: rgb(217, 217, 217);
    width: 100%;
    height: 1.75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Round;
    font-size: 0.99vmin;
    box-sizing: border-box;
    z-index: 100;
}

.reserve-modal-main-container {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0,0,0,0.0);
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(0px);
    pointer-events: none;
    overflow: hidden;
    opacity: 0;
    z-index: 5000;
    transition: all 0.15s ease-in-out;
}

.reserve-modal-main-container.active {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0,0,0,0.25);
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
    pointer-events: auto;
    overflow: hidden;
    opacity: 100%;
    z-index: 5000;
    transition: all 0.15s ease-in-out;
}

.reserve-modal-window-container.active {
    width: 45vmin;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 1vmin;
    transform: translateY(0vmin);
    background-color: rgba(245,245,245,1);
    border-radius: 1vmin;
    box-shadow: -8px 0px 18px 2px rgba(0,0,0,0.1);
    transition: all 0.3s cubic-bezier(.75,-0.13,.27,1.33);
}

.reserve-modal-window-container {
    width: 45vmin;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 1vmin;
    transform: translateY(50vmin);
    background-color: rgba(255,255,255,1);
    border-radius: 1vmin;
    box-shadow: -8px 0px 18px 2px rgba(0,0,0,0.1);
    transition: all 0.3s cubic-bezier(.75,-0.13,.27,1.33);
}

.reserve-modal-window-error {
    position: absolute;
    width: 43vmin;
    bottom: -6vmin;
    color: rgba(255,0,0,1);
    font-family: Round;
    font-size: 1.25vmin;
    font-weight: bold;
    text-shadow: 0 2px 3px rgba(0,0,0,0.1);
    /* background-color: rgba(255,255,255,1); */
    padding: 1vmin;
    border-radius: 1vmin;
}

.reserve-modal-window-title-container {
    width: 100%;
    height: 4vmin;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background-color: rgba(0,0,0,0.0);
    border-radius: 1vmin;
}

.reserve-modal-window-title-text {
    font-family: Round;
    font-size: 2vmin;
    font-weight: bold;
    color: rgba(0,0,0,0.4);
}

.reserve-modal-window-button-close {
    background-image: url('../images/svgs/icons/solid/plus.svg');
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: center center;
    background-color: rgba(255,0,0,0);
    height: 100%;
    margin-left: auto;
    opacity: 0.5;
    transform: rotate(45deg);
    cursor: pointer;
    aspect-ratio: 1;
    transition: all 0.15s ease-in-out;
}

.reserve-modal-window-button-close:hover {
    opacity: 0.75;
}

.reserve-modal-window-body-container {
    flex: 1;
    width: 100%;
    height: 4vmin;
    background-color: rgba(0,0,0,0.00);
    border-radius: 1vmin;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.reserve-modal-window-body-text {
    font-family: Round;
    font-size: 1.5vmin;
    font-weight: bold;
    color: rgba(0,0,0,0.3);
    background-color: rgba(255,0,0,0.0);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.75vmin;
}

.reserve-modal-window-button-duration-add {
    background-color: rgba(0,0,0,0.1);
    height: 1.5vmin;
    min-width: 3vmin;
    max-width: 3vmin;
    border-radius: 10vmin;
    margin-top: 1px;
    margin-right: 1vmin;
    margin-left: 1vmin;
    background-image: url('../images/svgs/icons/solid/plus.svg');
    background-repeat: no-repeat;
    background-size: 25%;
    background-position: center center;
    cursor: pointer;
    opacity: 50%;
    transition: all 0.15s linear;
}

.reserve-modal-window-button-duration-add:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.reserve-modal-window-button-duration-sub {
    background-color: rgba(0,0,0,0.1);
    height: 1.5vmin;
    min-width: 3vmin;
    max-width: 3vmin;
    border-radius: 10vmin;
    margin-top: 1px;
    margin-right: 1vmin;
    margin-left: 1vmin;
    background-image: url('../images/svgs/icons/solid/minus.svg');
    background-repeat: no-repeat;
    background-size: 25%;
    background-position: center center;
    cursor: pointer;
    opacity: 50%;
    transition: all 0.15s linear;
}

.reserve-modal-window-button-duration-sub:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.reserve-modal-window-button-submit {
    font-family: Round;
    font-size: 1.75vmin;
    font-weight: bold;
    color: rgba(0,0,0,0.3);
    cursor: pointer;
    background-color: rgba(61, 214, 87, 0.3);
    border-radius: 1vmin;
    transition: all 0.15s ease-in-out;
    padding: 1vmin;
    margin-top: 2vmin;
    margin-left: auto;
    width: calc(100% - 2vmin);
    height: 1vmin;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.reserve-modal-window-button-submit:hover {
    background-color: rgba(61, 214, 87, 0.7);
}

.reserve-modal-window-button-type {
    background-color: rgba(0,0,0,0.1);
    height: 2vmin;
    width: auto;
    border-radius: 0.5vmin;
    margin-top: 1px;
    margin-right: 0.5vmin;
    margin-left: 0.5vmin;
    padding-left: 1vmin;
    padding-right: 1vmin;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    opacity: 50%;
    transition: all 0.15s linear;
}

.reserve-modal-window-button-type.active {
    background-color: rgba(0,0,0,0.1);
    height: 2vmin;
    width: auto;
    border-radius: 0.5vmin;
    margin-top: 1px;
    margin-right: 0.5vmin;
    margin-left: 0.5vmin;
    padding-left: 1vmin;
    padding-right: 1vmin;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    opacity: 100%;
    transition: all 0.15s linear;
}

.reserve-modal-window-button-type:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.reservation-legend {
    width: 95vmin;
    height: 3vmin;
    background-color: rgba(0,0,255,0.0);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
}

.legend-item {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-right: 4vmin;
    padding-right: 0.5vmin;
    background-color: rgba(0,0,0,0.0);
    border-radius: 0.5vmin;
    font-family: Round;
    font-size: 1.2vmin;
    overflow: hidden;
}

.legend-item-color {
    height: 2vmin;
    aspect-ratio: 1;
    background-color: rgba(0,0,0,0.2);
    margin-right: 0.5vmin;
    border-radius: 0.5vmin;
}

/* Animations */
@keyframes column-item-open-animation {
    0% {
        background-color: rgba(31, 158, 19, 0.1);
    }
    50% {
        background-color: rgba(31, 158, 19, 0.4);
    }
    100% {
        background-color: rgba(31, 158, 19, 0.1);
    }
}
