@font-face {
    font-family: 'Round';
    src: local('Round'), url('../fonts/VarelaRound-Regular.ttf');
}

.container-test {
    width: 100vw;
    top: 7vmin;
    bottom: 0;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 2vmin;
    background-color: rgb(250, 250, 250);
}

.test-form-container {
    width: 80vmin;
    height: 67%;
    margin-top: 1vmin;
    border-radius: 1vmin;
    background-color: rgba(255,255,255,1);
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.05);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.test-object-container {
    width: calc(100% - 3vmin);
    height: calc(100% - 5.75vmin);
    margin-top: 1vmin;
    padding: 0.5vmin;
    border-radius: 0.75vmin;
    background-color: rgba(0,0,0,0.025);
    /*border: 2px solid rgba(0,0,0,0.05);*/
    box-shadow: inset 0px 4px 8px 0px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-behavior: smooth;
    transition: all 0.25s linear;
}

.test-object-container::-webkit-scrollbar {
    width: 1vmin;
    background-color: transparent;
    transition: all 0.25s linear;
}

.test-object-container::-webkit-scrollbar-thumb {
    border-radius: 1vmin;
    width: 1vmin;
    background-color: rgba(124, 124, 124, 0.75);
    transition: all 0.25s linear;
}

.test-add-container {
    position: absolute;
    top: 2vmin;
    left: calc(calc(50% + 40vmin) + 1vmin);
    display: flex; 
    flex-direction: column; 
    margin-top: 1vmin;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 1vmin;
    padding: 1vmin;
    font-family: Round;
    margin-right: auto;
    margin-left: 1vmin;
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.1);
}

.test-add-text {
    margin-bottom: 1vmin;
    color: rgba(0, 0, 0, 0.3);
    font-weight: bold;
}

.test-add-input {
    border: 1px solid rgba(0, 0, 0, 0.1);
    outline: none;
    width: calc(100%);
    border-radius: 0.5vmin;
    padding-left: 0.5vmin;
    height: 3vmin;
    transition: all 0.15s linear;
}

.test-add-input::placeholder {
    color: rgba(0,0,0,0.2);
    font-weight: bold;
    font-family: Round;
}

.test-add-select {
    border: 1px solid rgba(0, 0, 0, 0.1);
    outline: none;
    width: calc(100% + 0.25vmin);
    border-radius: 0.5vmin;
    padding-left: 0.5vmin;
    margin-top: 0.5vmin;
    height: 3vmin;
    transition: all 0.15s linear;
    font-family: Round;
}

.test-add-select:focus {
    border: 1px solid rgba(0, 0, 0, 0.5);
}

.test-add-button {
    background-color: rgb(99, 213, 118);
    border: 0;
    outline: none;
    width: calc(100% + 0.25vmin);
    border-radius: 0.5vmin;
    padding-left: 0.5vmin;
    height: 5vmin;
    font-family: Round;
    color: white;
    font-weight: bold;
    font-size: 2vmin;
    cursor: pointer;
    transition: all 0.15s linear;
}

.test-add-button:hover {
    background-color: rgb(80, 172, 95);
}

.test-cancel-btn {
    background-color: rgba(0, 0, 0, 0.1);
    border: 0;
    outline: none;
    width: calc(100% + 0.25vmin);
    border-radius: 0.5vmin;
    padding-left: 0.5vmin;
    height: 3vmin;
    font-family: Round;
    color: rgba(0, 0, 0, 0.5);
    font-weight: bold;
    font-size: 1.25vmin;
    margin-top: 0.5vmin;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.15s linear;
}

.test-cancel-btn:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.test-user-container {
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: auto;
    margin-bottom: 0.5vmin;
    background-color: rgb(255, 255,255); 
    padding: 0.8vmin;
    border-radius: 0.5vmin; 
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.155);
    font-family: Round;
    font-size: 1.45vmin;
    cursor: pointer;
    transition: all 0.1s linear;
    border: 0.2vmin solid rgba(45, 181, 255, 0);
}

.test-user-container:hover {
    border: 0.2vmin solid rgba(45, 181, 255, 1);
}

.test-user-item {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    background-color: rgba(0,255,0,0.0);
    color: rgba(0,0,0,0.5);
    font-size: 1vmin;
    border: 0px solid black;
    word-break: break-all;
    box-sizing: border-box;
}

.test-object-header {
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 5vmin);
    margin-left: 2vmin; 
    margin-right: auto;
    margin-top: 1vmin;
    background-color: rgba(255,0,0,0.0); 
    border-radius: 0vmin; 
    font-family: Round;
    font-size: 1.45vmin;
    padding-left: 1vmin;
    padding-right: 1vmin;
}

.test-object-header-item {
    display: flex; 
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0,255,0,0.0);
    color: rgba(0,0,0,0.6);
    font-weight: bold;
    font-size: 1.25vmin;
    border: 0px solid black;
}

.test-object-info-container {
    display: flex; 
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    border-radius: 1vmin;
    width: 80vmin;
    height: calc(33% - 10vmin);
    background-color: rgba(255,255,255,1);
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.05);
    margin-top: 1vmin;
    color: rgba(0,0,0,0.6);
    font-weight: bold;
    padding: 1vmin;
}

.info-delete {
    position: absolute;
    bottom: 9vmin;
    right: calc(1vmin + calc(50% - 40vmin));
    background-color: rgba(0,0,0,0.05);
    width: auto;
    margin-left: 1vmin;
    margin-top: auto;
    border-radius: 0.5vmin;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5vmin;
    transition: all 0.15s ease-in-out;
}

.info-delete:hover {
    background-color: rgba(225, 91, 91, 0.2);
}

.info-delete.selected {
    position: absolute;
    bottom: 9vmin;
    right: calc(1vmin + calc(50% - 40vmin));
    width: 20vmin;
    height: 6vmin;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: rgba(0,0,0,0.05);
    border-radius: 0.5vmin;
    cursor: auto;
    padding: 1vmin;
    text-align: center;
    font-family: Round;
    transition: all 0.15s ease-in-out;
}

.delete-confirm-btn {
    cursor: pointer;
    width: 30%;
    color: rgba(30, 0, 0, 1);
    filter: saturate(0) brightness(0);
    user-select: none;
    transition: all 0.1s ease-in-out;
}

.delete-confirm-btn:hover {
    filter: saturate(5) brightness(5);
}

.info-edit {
    background-color: rgba(0,0,0,0.05);
    width: auto;
    margin-left: auto;
    margin-top: auto;
    border-radius: 0.5vmin;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5vmin;
    transition: all 0.1s linear;
}

.info-edit:hover {
    background-color: rgba(99, 213, 118, 0.2);
}

.test-modal.active {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.2);
    backdrop-filter: blur(5px);
    pointer-events: auto;
    transition: all 0.15s linear;
}

.test-modal {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.0);
    backdrop-filter: blur(0px);
    pointer-events: none;
    transition: all 0.15s linear;
}

.user-detail-container {
    background-color: rgba(255,0,0,0.0);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    word-break: break-all;
    font-family: Round;
}

.user-detail-item {
    background-color: rgba(0,0,255,0.0);
    width: 33%;
    height: 100%;
    max-height: 33%;
    box-sizing: border-box;
    padding: 0.5vmin;
    font-size: 1.35vmin;
}

/* Animations */